<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
</head>
<body>

<h2>Customer List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td th:text="${customer.getPhone()}"></td>
        <td th:text="${customer.getAddress()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
